* {
    box-sizing: border-box;
  }

body {
    background-color: #000;
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 350px;
}

.sidebar-navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 24px 24px 16px 24px;
}

.sidebar-navigation .sidebar-logo {
    display: flex;
    /* padding: 16px 0 0 16px; */
}

.sidebar-navigation .sidebar-logo img {
    width: 80px;
}

.sidebar-navigation ul {
    margin-top: 16px;
}

.sidebar-navigation ul li {
    padding: 14px 0;
}

.sidebar-navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-navigation ul li .icon {
    margin-right: 16px;
}

.sidebar .sidebar-library {
    background-color: #121212;
    border-radius: 8px;
    padding: 24px;
}

.sidebar .sidebar-library .top-section-library {
    display: flex;
    width: 100%;
}

.sidebar .sidebar-library span {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar .sidebar-library .top-section-library .sidebar-library-icon-title {
    width: 100%;
    margin-right: 0px;
}

.sidebar .sidebar-library .top-section-library .sidebar-library-icon-title .icon {
    margin-right: 16px;
}

.sidebar .sidebar-library .top-section-library .sidebar-library-icon .icon {
    right: 0;
}

.sidebar .sidebar-library .cta-create-playlist {
    background-color: #242424;
    border-radius: 8px;
    padding: 24px;
    margin-top: 16px;
}

.sidebar .sidebar-library .cta-create-playlist span {
    color: #ffffff;
    display: block;
}

.sidebar .sidebar-library .cta-create-playlist .title-section-playlist {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebar .sidebar-library .cta-create-playlist .text-section-playlist {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sidebar .sidebar-library .cta-create-playlist .btn-cta-create-playlist {
    font-size: 13px;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
}