* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    font-family: var(--default-font);
}

.sidebar-footer-group {
    flex: 1;
}

h1 {
    color: var(--color-white);
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 350px;
}

.sidebar__navigation {
    background-color: var(--color-gray-dark);
    border-radius: 8px;
    padding: 24px 24px 16px 24px;
}

.sidebar__navigation .icon {
    font-size: 20px;
}

.sidebar__navigation .sidebar__navigation__logo {
    display: flex;
    /* padding: 16px 0 0 16px; */
}

.sidebar__navigation .sidebar__navigation__logo img {
    width: 80px;
}

.sidebar__navigation ul {
    margin-top: 16px;
}

.sidebar__navigation ul li {
    padding: 14px 0;
}

.sidebar__navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar__navigation ul li a:hover {
    color: var(--color-white);
}

.sidebar__navigation ul li .icon {
    margin-right: 16px;
}

.sidebar .library {
    background-color: var(--color-gray-dark);
    border-radius: 8px;
    padding: 24px;
}

.sidebar .library .library__content {
    display: flex;
    width: 100%;
}

.sidebar .library .library__content .library__content__btn {
    width: 100%;
    margin-right: 0px;
}

.sidebar .library .library__content .library__content__btn button {
    background-color: transparent;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.sidebar .library .library__content .library__content__btn button:hover {
    color: var(--color-white);
}

.sidebar .library .library__content .library__content__btn .icon {
    margin-right: 16px;
    font-size: 20px;
}

.sidebar .library .library__content .library__content__plus button {
    background-color: transparent;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.sidebar .library .library__content .library__content__plus button:hover {
    background-color: #1a1a1a;
    color: var(--color-white);
    border-radius: 50px;
}

.sidebar .library .library__content .library__content__plus .icon {
    right: 0;
    font-size: 20px;
}

.sidebar .library .section-playlist {
    background-color: var(--color-gray-medium);
    border-radius: 8px;
    padding: 24px;
    margin-top: 16px;
}

.sidebar .library .section-playlist .section-playlist__content .text {
    color: var(--color-white);
    display: block;
}

.sidebar .library .section-playlist .section-playlist__content .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sidebar .library .section-playlist .section-playlist__content .subtitle {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sidebar .library .section-playlist .section-playlist__content .section-playlist__btn {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .library .section-playlist .section-playlist__content button:hover {
    transform: scale(1.05);
}


.sidebar .sidebar-footer {
    margin: 25px 20px;
}

.sidebar .sidebar-footer a {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    padding-right: 16px;
}

.sidebar .languages .languages__btn {
    align-items: center;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    padding: 8px 16px;
    border: 0.5px solid #b3b3b3;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .languages button:hover {
    transform: scale(1.05);
    border: 1.5px solid var(--color-white);
}

footer {
    background: linear-gradient(to right, var(--color-purple), var(--color-blue));
    padding: 24px;
}

footer .cta-premium__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .cta-premium__content .cta-premium__content__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    color: var(--color-white);
}

footer .cta-premium__content .cta-premium__content__text .title {
    font-weight: 700;
}

footer .cta-premium__content .cta-premium__content__text .subtitle {
    font-weight: 500;
}

footer .cta-premium__content .cta-premium__content__btn {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .cta-premium__content button:hover {
    transform: scale(1.05);
}