:root {
    /* Fonts */
    --default-font: "DM Sans", sans-serif;

    /* Colors */
    --color-white: #FFFFFF;
    --color-gray-medium: #242424;
    --color-gray-dark: #121212;
    --color-gray-darkest: #020202;
    --color-purple: #AF2896;
    --color-blue: #509BF5;
}